<section class="cont-footer">
    <div class="pre-footer">
        <div class="cont">
            <div class="column">
                <p class="title">Office Contact</p>
                <span class="line"></span>
                <div class="items">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>123 Street, New York, USA</p>
                </div>
                <div class="items">
                    <i class="fas fa-phone"></i>
                    <p>+012 345 67890</p>
                </div>
                <div class="items">
                    <i class="fas fa-envelope"></i>
                    <p>info@example.com</p>
                </div>
                <div class="cont-icons">
                    <div class="icon">
                        <i style="color: #fff;font-size: 0.8em;" class="fab fa-twitter"></i>
                    </div>
                    <div class="icon">
                        <i style="color: #fff;font-size: 0.8em;" class="fab fa-facebook-square"></i>
                    </div>
                    <div class="icon">
                        <i style="color: #fff;font-size: 0.8em;" class="fab fa-youtube"></i>
                    </div>
                    <div class="icon">
                        <i style="color: #fff;font-size: 0.8em;" class="fab fa-instagram"></i>
                    </div>
                    <div class="icon">
                        <i style="color: #fff;font-size: 0.8em;" class="fab fa-linkedin"></i>
                    </div>
                </div>
            </div>
            <div class="column">
                <p class="title">Services Areas</p>
                <span class="line"></span>
                <div class="items">
                    <i class="fas fa-chevron-right"></i>
                    <p>Building Construction</p>
                </div>
                <div class="items">
                    <i class="fas fa-chevron-right"></i>
                    <p>House Renovation</p>
                </div>
                <div class="items">
                    <i class="fas fa-chevron-right"></i>
                    <p>Architecture Design</p>
                </div>
                <div class="items">
                    <i class="fas fa-chevron-right"></i>
                    <p>Interior Design</p>
                </div>
                <div class="items">
                    <i class="fas fa-chevron-right"></i>
                    <p>Painting</p>
                </div>
            </div>
            <div class="column">
                <p class="title">Useful Pages</p>
                <span class="line"></span>
                <div class="items">
                    <i class="fas fa-chevron-right"></i>
                    <p>About Us</p>
                </div>
                <div class="items">
                    <i class="fas fa-chevron-right"></i>
                    <p>Services</p>
                </div>
                <div class="items">
                    <i class="fas fa-chevron-right"></i>
                    <p>Gallery</p>
                </div>
                <div class="items">
                    <i class="fas fa-chevron-right"></i>
                    <p>Contact Us</p>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
         <p class="one">© Copyright <span>Company Name</span>. All Rights Reserved</p>
         <p class="two">This Website was Designed And Developed by Andrada Luana</p>
         
    </div>
</section>