<section class="bg" id="contact-us">
    <div class="container-socialmedia">
        <div class="social">
            <div class="left">
                <p class="about">OUR SOCIAL MEDIA</p>
                <h2>Follow us on Social <br>
                    Media</h2>
            </div>
            <div class="right">
                <div class="cont-icons">
                    <i style="color: #030d26;font-size: 2.7em;" class="fab fa-twitter"></i>
                    <i style="color: #030d26;font-size: 2.7em;" class="fab fa-facebook-square"></i>
                    <i style="color: #030d26;font-size: 2.7em;" class="fab fa-youtube"></i>
                    <i style="color: #030d26;font-size: 2.7em;" class="fab fa-instagram"></i>
                    <i style="color: #030d26;font-size: 2.7em;" class="fab fa-linkedin"></i>
                </div>
            </div>
        </div>
        <div class="subscribe">
            <div class="text">
                <h4>Subscribe to our Newsletter</h4>
                <div class="input-group mb-3" style="width: 53%">
                    <input type="text" class="form-control" placeholder="Enter email address"
                aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" style="background-color: orange;" id="button-addon2">Subscribe</button>
                </div>
            </div>
        </div>

    </div>
</section>