<div class="container-form">
    <form class="get_in_touch" autocomplete="off">
        <h2 >Make a Reservation</h2>
        <div class="container">
            <div class="reservation-form row">
                <div class="form-group col">
                    <input type="text" name="" id="name" class="form-control">
                    <label for="name" class="ph-area">Name</label>
                </div>
            </div>
            <div class="reservation-form row">
                <div class="form-group col-lg-6">
                    <input type="email" name="" id="email" class="form-control">
                    <label for="email" class="ph-area">Email</label>
                </div>
                <div class="form-group col-lg-6">
                    <input type="number" name="" id="telephone" class="form-control">
                    <label for="telephone" class="ph-area">Telephone</label>
                </div>
            </div>
            <div class="reservation-form row">
                <div class="col">
                    <select class=" form-control select " >
                        <option hidden selected >Choose a service</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="reservation-form row">
                <div class="form-group col">
                    <input class="form-control" id="date"  type="date" >
                </div>
            </div>
            <div class="reservation-form row">
                <div class="form-group col">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                    <label for="exampleFormControlTextarea1" class="ph-area">Message</label>
                </div>
            </div>
           <div class="row">
               <div class="col">
                <button class="btn button">SEND</button>
               </div>
           </div>

        </div>
    </form>
</div>