<section class="bg">
    <div class="cont">
        <div class="left">
            <p class="about">ABOUT US</p>
            <h2>Best Provider for Industrial <br>
            Services</h2>
    
            <p class="subtitle">We are a unique company dedicated to our clients</p>
    
            <div class="cont-buttons">
                <button class="btn change">Our Mission</button>
                <button class="btn change">Our Vision</button>
                <button class="btn change">Our Value</button>
            </div>
            <div class="description">
                <p id="description-text">
                    We are an expert group in architectural desing and interior design with <br>
                    a residential approach, where we generate creative, authentic and <br>
                    innovative solutions, achieving results that exceed the expectations of <br>
                    each client.
                </p>
            </div>
            <div class="cont-btn">
                <button class="btn contact">CONTACT US!</button>

            </div>
        </div>
        <div class="right">
    
        </div>
    </div>
    
</section>
