$font-ppal:'Open Sans Condensed', sans-serif;
$font-sec:'Open Sans', sans-serif;;
$orange: #fb5e27;
$font-color:#1f273c;

.bg{
    background-color: #f9f9f9;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .cont{
        width: 70%;
        display: flex;
        justify-content: space-between;
        .left{
            width: 55%;
            padding-left: 40px;
            padding-right: 50px;
            .about{
                color: $orange;
                font-family: $font-sec;
                font-weight: 400;
                letter-spacing: 0px;
                font-size: 13px;
                display: block;
                margin-bottom: -6px;
                &:hover{
                    cursor: default;
                }
            }
            h2{
                font-family: $font-ppal;
                font-weight: 700;
                color: $font-color;
                font-size: 42px;
                margin-bottom: 20px;
                &:hover{
                    cursor: default;
                }
            }
            .subtitle{
                font-family: $font-ppal;
                font-weight: 700;
                color: $font-color;
                margin-bottom: 30px;
                font-size: 15px;
                &:hover{
                    cursor: default;
                }
            }
            .cont-buttons{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                .change{
                    width: 32%;
                    font-family: $font-ppal;
                    font-weight: bold;
                    color: $font-color;
                    background-color: #fff;
                    &:focus{
                        outline: none;
                        border: none;
                        box-shadow: none;
                    }
                }
                .selected{
                    color: #fff;
                    background-color: $orange;
                }
            }
            .description{
                border-radius: 5px;
                border: 1px solid rgb(235, 235, 235);
                margin-top: 5px;
                padding: 20px 15px 15px 15px;
                p{
                    font-family: Arial, Helvetica, sans-serif;
                    color: $font-color;
                   font-size: 13px;
                }
                &:hover{
                    cursor: default;
                }
            }
            .cont-btn{
                display: flex;
                justify-content: center;
                .contact{
                    color: #fff ;
                    background-color:#1c2130 ;
                    margin-top: 45px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    &:focus{
                        outline: none;
                        border: none;
                        box-shadow: none;
                    }
                }
            }
            
        }
        .right{
            width: 40%;
            padding-left: 35px;
            .about{
                color: $orange;
                font-family: $font-sec;
                font-weight: 400;
                letter-spacing: 0px;
                font-size: 13px;
                display: block;
                margin-bottom: -6px;
            }
            h2{
                font-family: $font-ppal;
                font-weight: 700;
                color: $font-color;
                font-size: 42px;
                margin-bottom: 20px;
            }
            .container-cards{
                display: flex;
                flex-direction: column;
                width: 100%;
                border: none;
                .card-individual{
                    height: 140px;
                    width: 100%;
                    display: grid;
                    font-family: $font-ppal;
                    color: #fff;
                    border: none;
                    padding: 20px 35px 25px 20px;
                    grid-template-areas: 'icon title'
                                            'icon text';
                    .icon{
                        grid-area: icon;
                        width:42px ;
                        height: 42px;
                        position: relative;
                        margin-top: -10px;
                        .big-circle{
                            width: 40px;
                            height: 40px;
                            border: 1px dotted #fff;
                            border-radius: 100%;
                            position: absolute;
                            
                        }
                        .sm-circle{
                            width: 24px;
                            height: 24px;
                            border-radius: 100%;
                            position: absolute;
                            z-index: 2;
                            bottom: -1px;
                            left: -2px;
                        }
                        .fa-wrench,.fa-drafting-compass,.fa-paint-roller{
                            font-size: 1.8em;
                            color: $font-color;
                            position: absolute;
                            z-index: 3;
                            bottom: 4px;
                        }
                    }
                    .title{
                        grid-area: title;
                        font-weight: bold;
                        font-family: $font-sec;
                        font-size: 14px;
                        line-height: 14px;
                    }
                    .text{
                        grid-area: text;
                        font-family: $font-sec;
                        font-size: 13px;
                        line-height: 20px;
                        margin-top: -5px;
                    }
                }
            }
            &:hover{
                cursor: default;
            }
        }
    }
}

.carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin-top: 50px;
    border: 2px solid grey;
    }
.carousel-indicators{
    transform: translateY(45px);
}
.active{
    background-color: $orange !important;
}

@media only screen and  (max-width: 500px) {
    .carousel{
        width: 90% !important;
    }
    .bg{
        margin-top: 0px;
        padding-top: 30px;
        height: fit-content;
        padding-bottom: 40px;
        .cont{
            width: 90%;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            .left{
                width: 95%;
                h2{
                    font-weight: 600;
                    font-size: 39px;
                    margin-bottom: 15px;
                }
                .subtitle{
                    font-size: 18px;
                }
                .cont-buttons{
                    .change{
                        font-size:13px;
                    }
                }
                .description{
                    border-radius: 5px;
                    border: 1px solid rgb(235, 235, 235);
                    margin-top: 5px;
                    padding: 10px 15px 5px 15px;
                    p{
                       font-size: 14px;
                    }
                }
                .cont-btn{
                    margin-top: -20px;
                    margin-bottom: 20px;
                }
                
            }
            .right{
                width: 95%;
                margin-top: 40px;
                margin-left: auto;
                margin-right: auto;
                padding-bottom: 25px;
                margin-bottom: 15px
                h2{
                    font-weight: 600;
                    font-size: 39px;
                    margin-bottom: 20px;
                }
                .container-cards{
                    .card-individual{
                        height: 120px;
                        width: 100%;
                        display: grid;
                        padding: 20px 7px 9px 10px;
                      
                        .title{
                            font-size: 13px;
                            display: block;
                            margin-top: -8px;
                        }
                        .text{
                            font-size: 12px;
                            line-height: 17px;
                            margin-top: -5px;
                        }
                    }
                }
               
            }
        }
    }
}
@media only screen and  (min-width: 501px) and  (max-width: 800px) {
    
.bg{
    padding-top: 25px;
    padding-bottom: 25px;
    height: fit-content;
    .cont{
        width: 90%;
        .left{
            width: 55%;
            padding-left: 40px;
            padding-right: 50px;
            h2{
                font-size: 39px;
                margin-bottom: 20px;
            }
            .subtitle{
                font-size: 14px;
            }            
        }
        .right{
            width: 45%;
            padding-left: 35px;
            h2{
                font-size: 39px;
            }
            .container-cards{
                .card-individual{
                    height: 140px;
                    width: 100%;
                    padding: 15px 15px 25px 20px;
                   
                    .title{
                        display: block;
                        margin-top: -7px;
                        font-size: 13px;
                        line-height: 14px;
                    }
                    .text{
                        font-size: 13px;
                        line-height: 17px;
                        margin-top: -5px;
                    }
                }
            }
        }
    }
}
}
@media only screen and  (min-width: 1001px) and  (max-width: 1300px) {
        
.bg{
    padding-top: 25px;
    padding-bottom: 25px;
    height: fit-content;
    .cont{
        width: 95%;
        .left{
            h2{
                font-size: 41px;
                margin-bottom: 20px;
            }          
        }
        .right{
            width: 45%;
            padding-left: 35px;
            h2{
                font-size: 41px;
            }
            .container-cards{
                .card-individual{
                    height: 140px;
                    width: 100%;
                    padding: 15px 15px 25px 20px;
                   
                    .title{
                        display: block;
                        margin-top: -7px;
                        font-size: 13px;
                        line-height: 14px;
                    }
                    .text{
                        font-size: 13px;
                        line-height: 17px;
                        margin-top: -5px;
                    }
                }
            }
        }
    }
}
}