<section class="container-our-projects" id="gallery">
    <div class="blue">
        <div class="centrar">
            <p class="about">OUR PROJECTS</p>
            <h2>know what we do</h2>
            <div class="container-imgs">
                <img src="../../assets/img/work-5.jpg" alt="">
                <img src="../../assets/img/work-6.jpg" alt="">
                <img src="../../assets/img/work-7.jpg" alt="">
                <img src="../../assets/img/work-8.jpg" alt="">
                <img src="../../assets/img/work-1.jpg" alt="">
            </div>
            <div class="cont-btn">
                <button class="btn">VIEW GALLERY</button>
            </div>
        </div>
    </div>

</section>