$font-ppal:'Open Sans Condensed', sans-serif;
$font-sec:'Open Sans', sans-serif;;
$orange: #fb5e27;
$font-color:#1f273c;

.container-our-projects{
   background-color: #fff;
   width: 100%;
   height: 85vh;
   padding-top: 5vh;
    .blue{
        background-color: $font-color;
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .centrar{
            width: 65%;
            .about{
                color: $orange;
                font-family: $font-sec;
                font-weight: 400;
                letter-spacing: 0px;
                font-size: 13px;
                display: block;
                margin-bottom: -4px;
                &:hover{
                    cursor: default;
                }
            }
            h2{
                font-family: $font-ppal;
                font-weight: 700;
                color: #fff;
                font-size: 42px;
                margin-bottom: 20px;
                &:hover{
                    cursor: default;
                }
            }
            .container-imgs{
                display: flex;
                img{
                    width: 20%;
                    height: 20%;
                }
            }
            .cont-btn{
                display: flex;
                justify-content: center;
                .btn{
                    color: #fff ;
                    background-color:#1c2130 ;
                    margin-top: 55px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    &:focus{
                        outline: none;
                        border: none;
                        box-shadow: none;
                    }
                }
            }
        }
        
    }
    
}

@media only screen and  (max-width: 500px) {
    #none-mobile{
        display: none;
    }
   
    .container-imgs{
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
        display: grid  !important;
        grid-template-columns: 120px 120px !important;
        grid-template-rows: 120px 120px !important;
        img{
            width: 120px  !important;
            height: 120px !important;
        }
    }
    .container-our-projects{
        background-color: #fff;
        width: 100%;
        height: fit-content;
        padding-top: 0;
         .blue{
             margin-top: 0px;
             padding-bottom: 40px;
             padding-top:40px ;
             background-color: $font-color;
             height:100vh;
            .centrar{
            width: 95%;  
            margin-left: auto;
            margin-right: auto;
            padding-left: 10px;
            padding-bottom: 30px;     
            h2{
                font-weight: 600;
                font-size: 39px;
            }
        
            .cont-btn{
                margin-top: -10px !important;
                .btn{
                    margin-top: 25px;
                }
            }
            }
        }
    }
}