 $font-ppal:'Open Sans Condensed', sans-serif;
$font-sec:'Open Sans', sans-serif;;
$orange: #fb5e27;
$font-color:#1f273c;

.video{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -2;
}
.bg{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    background-color: $font-color;
    opacity: 0.65;
}

.header{
    .header-info{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: $font-color;
        opacity: 0.97;
        width: 100%;
        height: 100px;
        .logo{
            width: 85px;
            height: 71px;
            margin-left: -100px;
        }
        .opening-hour{
            display: flex;
            flex-direction: column;
            margin-top: 5px;
            margin-left: -180px;
            .title{
                font-family: $font-ppal;
                color: $orange;
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 0px;
            }
            .info{
                color: #fff;
                font-family: $font-ppal;
                font-size: 14px;
            }
        }
        .follow{
            display: flex;
            flex-direction: column;
            margin-top: -13px;
            margin-right: -190px;
            .title{
                font-family: $font-ppal;
                color: $orange;
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 2px;
            }
            .icons{
                display: flex;
                justify-content: space-between;
                width: 100px;
                
            }
        }
        .call{
            display: flex;
            flex-direction: column;
            margin-top: 5px;
            margin-right: -100px;
            .title{
                font-family: $font-ppal;
                color: $orange;
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 0px;
                span{
                    color: #fff;
                }
            }
            .info{
                color: #fff;
                font-family: $font-ppal;
                font-size: 14px;
            }
        }
        &:hover{
            cursor: default;
        }
        
    }
    .menu{
        background-color: #fff;
        width: 100%;
        height: 45px;
        .logo{
            display: none;
        }
        .fa-bars, .fa-times{
            display: none;
        }
        #menu{
            display: none;
        }
        .container-menu-mobile{
            display: none;
        }
        .container-menu{
            display: flex;
            justify-content: space-between;
            width: 30%;
            margin-left: auto;
            margin-right: auto;
            .nav-option{
                font-family: $font-sec;
                font-weight: 400;
                color: $font-color;
                letter-spacing: -1px;
                display: block;
                height: 36px;
                padding-left: 1px;
                padding-right: 1px;
                margin-top: 9px;
                &:hover{
                    cursor: pointer;
                    border-bottom: 4px solid $orange;
                    color: $orange;
                }
                a{
                    text-decoration: none;
                    &:link{
                        color: $font-color;
                    }
                    &:active{
                        color: $font-color;
                    }
                    &:visited{
                        color: $font-color;
                    }
                }
            }
        }
        
    }
}

main{
    display: flex;
    width: 73%;
    margin-left: auto;
    margin-right: auto;
    
    .left{
        width: 60%;
        h1{
            color: #fff;
            font-weight: bold;
            font-family: $font-ppal;
            font-size: 65px;
            margin-top: 115px;
            margin-bottom: 20px;
        }
        .line{
            display: block;
            width: 55px;
            height: 9px;
            background-color: $orange;
            margin-bottom: 5px;
        }
        h3{
            font-family: $font-ppal;
            font-weight: bold;
            color: #fff;
            font-size: 24px;
        }
    }
    .right{
        width: 40%;
    }
}
section{
    min-height: 100vh;
}

@media only screen and  (max-width: 1000px) {
    .header-info{
        display: none !important;
    }
    .menu{
        height: 65px !important;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            display: block !important;
            width: 55px;
            height: 53px;
            margin-left: 30px;
        }
        .fa-bars{
            display: block !important;
            margin-right: 30px;
            color: $font-color;
        }
        .fa-times{
            color: $font-color;
            margin-right: 30px;
        }
        .container-menu-mobile{
            display: none ;
            flex-direction: column;
            height: 220px !important;
            padding-bottom: 40px;
            background-color: #fff;
            border-top: 2px solid $orange;
            justify-content: unset;
            width: 100% !important;
            position: absolute;
            top: 65px;
            z-index: 50;
            
            .nav-option{
                font-weight: 600;
                display: block;
                font-size: 18px;
                height: 26px;
                padding-left: 1px;
                padding-right: 1px;
                margin-top: 7px;
                margin-bottom: 7px;
                padding-left: 30px !important;
                &:hover{
                    border-bottom: none;
                }
                a{
                    text-decoration: none;
                    &:link{
                        color: $font-color;
                    }
                    &:active{
                        color: $font-color;
                    }
                    &:visited{
                        color: $font-color;
                    }
                }
            }
        }
        .container-menu{
            display: none !important;
        }
        
    }
    
}
@media only screen and  (max-width: 500px) {
   
    main{
        width: 100%;
        flex-direction: column;  
        padding-bottom: 25px;      
        .left{
            width: 97%;
            margin-left: auto;
            margin-right: auto;
            padding-left: 25px;
            h1{
                font-size: 44px;
                margin-top: 40px;
            }
            .line{
                height: 7px;
            }
            h3{
                font-size: 20px;
            }
        }
        .right{
            width: 86%;
            min-width: 300px;
            margin-left: auto;
            margin-right: auto;
           display: flex;
           justify-content: center;
           align-items: center;
            height: fit-content;
        }
    }
    
}
@media only screen and  (min-width: 501px) and  (max-width: 1000px) {
    main{
        display: flex;
        width: 93%;
        margin-left: auto;
        margin-right: auto;
        
        .left{
            width: 52%;
            h1{
                font-size: 50px;
                margin-top: 95px;
            }
            
            h3{
                font-size: 21px;
            }
        }
        .right{
            width: 48%;
            margin-top: -20px;
        }
    }
  
}
@media only screen and  (min-width: 1001px) and  (max-width: 1300px) {
    #me{
        width: 60%;
        }
        main{
            display: flex;
            width: 93%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 30px;
            .left{
                width: 55%;
                h1{
                    font-size: 53px;
                    margin-top: 95px;
                }
                
                h3{
                    font-size: 21px;
                }
            }
            .right{
                width: 45%;
                margin-top: -20px;
            }
        }
}
