<section >
    <!-- video de fondo -->
    <video class="video" src="../../assets/video/hero-background.mp4" autoplay loop muted></video>
    <div class="bg"></div>
    <!-- FIN video de fondo -->
    <header class="header">
        <div class="header-info">
            <img class="logo" src="../../assets/img/LOGO-many.png" alt="">
            <div class="opening-hour">
                <p class="title">Opening Hour:</p>
                <p class="info">Mon - Sat 8:00 - 17:30, Sunday - CLOSED</p>
            </div>
            <div class="follow">
                <p class="title">Follow us</p>
                <div class="icons">
                    <i style="color: #fff;" class="fab fa-facebook-square"></i>
                    <i style="color: #fff;" class="fab fa-twitter"></i>
                    <i style="color: #fff;" class="fab fa-instagram"></i>
                    <i style="color: #fff;" class="fab fa-linkedin"></i>
                </div>
            </div>
            <div class="call">
                <p class="title">Free Call <span>+1 234 456 78910</span></p>
                <p class="info">Call Us Now 24/7 Customer Support</p>
            </div>
        </div>
        <div class="menu">
            <div class="container-menu">
                <p class="nav-option">HOME</p>
                <p class="nav-option">ABOUT US</p>
                <p class="nav-option">SERVICES</p>
                <p class="nav-option">GALLERY</p>
                <p class="nav-option">CONTACT US</p>
            </div>
        </div>
    </header>

    <main >
        <div class="left">
            <h1>We create the desired <br>
                Home for you</h1>
            <span class="line"></span>
            <h3>Contact us to find out your ideas and build <br>
                them together</h3>
        </div>
        <div class="right">
            <app-form-reservation></app-form-reservation>
        </div>
    </main>

</section>