<section class="bg">
    <div class="container-welcome">
        <div class="left">
            <img src="../../assets/img/about.jpg" alt="">
            <div class="hammer">
                <i class="fas fa-hammer"></i>
            </div>
           
        </div>
        <div class="right">
            <p class="welcome">WELCOME TO CONSTRUCTION COMPANY</p>
            <h2>Why work with us?</h2>

            <p class="text">
                We are a company with highly qualified and <br>
                responsible personnel who will perfom the best <br>
                jobs for your home.
            </p>

            <div class="card">
                <p>Quality Construction </p>
                <img src="../../assets/img/work-4.jpg" alt="">
            </div>
            <div class="card">
                <p>Professional Liability </p>
                <img src="../../assets/img/work-5.jpg" alt="">
            </div>
            <div class="card last">
                <p>Dedicated To Clients </p>
                <img src="../../assets/img/work-7.jpg" alt="">
            </div>
        </div>
    </div>
    
</section>
