<section class="bg">
    <div class="contenido">
        <div class="left">
            <p class="about">VIEW TESTIMONIALS</p>
            <h2>FOR US IT IS VERY <br>
                IMPORTANT TO <br>
                KNOW THE <br>
                OPINIONS OF OUR <br>
                CLIENTS</h2>
        </div>
        <div class="right">              
            <div class="cont-carousel">
              <img id="img" src="../../assets/img/person_4.jpg" alt="">
              <div class="white">
                <p class="name" id="name1">JEFF FRESHMAN</p>
              </div>
              <div class="dots">
                <div class="dot" id="0" style="background-color: #ffa500;"></div>
                <div class="dot" id="1"></div>
                <div class="dot" id="2"></div>
                <div class="dot" id="3"></div>
                <div class="dot" id="4"></div>
              </div>
            </div>
            <div (click)="startCarousel()" id="button-play" class="button">
              <i class="fas fa-play"></i>
            </div>
        </div>

    </div>

</section>